body{
    background-color:rgb(241, 241, 241);
    font: normal 18pt Arial;
}
#box{
    width: 900px;
    height: auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 9px 12px 21px -3px rgba(0,0,0,0.15);
}
h1{
    text-align: center;
}
#msg{
    text-align: center;
}
#foto {
    text-align:center;
    margin-top:50px;
}